<head xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="icon" type="image/png" th:href="@{'/assets/fav-icon.png'}">

    <script>
        window.onload = function() {

            var button;
            var buttonText;
            var group = "[[${group}]]";

            switch(group) {
                case "1":
                    button = document.getElementById('tweets');
                    buttonText = document.getElementById('tweets-text');
                    break;
                case "2":
                    button = document.getElementById('followings');
                    buttonText = document.getElementById('followings-text');
                    break;
                case "3":
                    button = document.getElementById('followers');
                    buttonText = document.getElementById('followers-text');
                    break;
                default:
            }

            if (button != null && buttonText != null) {
                button.className += " stat-button-selected";
                buttonText.className += " stat-number-text-selected";
            }


            // ------------------------------------------------------------------------//

            document.body.addEventListener('click', function (event) {

                var buttons = document.getElementsByClassName("caret-button");

                for (var i = 0; i < buttons.length; i++) {

                    var button = buttons[i];

                    if (!button.contains(event.target)) {

                        var popup = button.nextElementSibling;

                        popup.style.visibility = "hidden";
                    }

                }
            });

            document.body.addEventListener('click', function (event) {

                var pic = document.getElementById("navbar-pic-button");
                if (!pic.contains(event.target)) {
                    var popup = pic.nextElementSibling;
                    popup.style.visibility = "hidden";
                }
            });

            // ------------------------------------------------------------------------//
            var selectedButton = "[[${settingNumber}]]";
            var buttons = document.getElementsByClassName("settings-panel-box-button");
            for (var i = 0; i < buttons.length; i++) {
                var settingsButton = buttons.item(i);
                if (i == parseInt(selectedButton)) {
                    markAsActive(settingsButton);
                } else {
                    markAsInactive(settingsButton);
                }
            }
        };

        function markAsActive(button) {
            button.firstElementChild.className = "settings-button-text-bold";
            button.lastElementChild.src='/assets/right-caret-black.svg';
            button.onmouseover = function() { button.lastElementChild.src = '/assets/right-caret-blue.svg'; }
            button.onmouseout = function() { button.lastElementChild.src = '/assets/right-caret-black.svg'; }
        }

        function markAsInactive(button) {
            button.onmouseover = function() {button.lastElementChild.src = '/assets/right-caret-blue.svg';}
            button.onmouseout = function() {button.lastElementChild.src = '/assets/right-caret.svg';}
        }

        function popUp(event) {

            var button = event.currentTarget;
            var popup = event.currentTarget.nextElementSibling;

            if (button.contains(event.target)) {

                if (getComputedStyle(popup).visibility === "hidden") {
                    popup.style.visibility = "visible";

                } else {
                    popup.style.visibility = "hidden";
                }

            } else {

                popup.style.visibility = "hidden";
            }
        }
    </script>
</head>