<div xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-shadow navbar-dark fixed-top navbarGradient">
        <div class="container">

            <!-- Home Button -->
            <div class="navbar-button-container">
                <a th:href="@{'/home?' + 'tweets=friends' }" class="home-button" title="Tweets from friends">
                    <div>
                        <img class="navbar-home-icon" th:src="@{'/assets/home-filled-blue-3.svg'}">
                        <span class="navbar-home-text">Home</span>
                    </div>
                </a>
            </div>

            <!-- Twitter Bird -->
            <div class="navbar-brand">
                <a th:href="@{'/home?' + 'tweets=all' }" title="All tweets"><i class="fab fa-twitter bird"></i></a>
            </div>

            <!-- Navbar Right Box -->
            <div class="navbar-right-box">

                <!-- Navbar Search Field -->
                <div class="navbar-search-box-container">
                    <form th:action="@{/search}" style="padding: 0; margin: 0;">
                        <input class="navbar-search-box" name="query" type="text" placeholder="Search Twitter">
                        <img class="search-glass" th:src="@{'/assets/navbar-search-glass.svg'}" alt="">
                        <button style="display: none" type="submit"></button>
                    </form>

                </div>

                <!-- Navbar Profile Image -->
                <div class="navbar-tweet-options-menu">
                    <button onclick="popUp(event)" id="navbar-pic-button" class="navbar-pic-button">
                        <img class="navbar-pic" th:src="@{'/assets/profile-new.png'}">
                    </button>
                    <div class="navbar-caret-popup">
                        <div class="navbar-arrows">
                            <div class="navbar-arrow-up-shadow"></div><div class="navbar-arrow-up"></div>
                        </div>

                        <form th:action="@{'/' + ${profile.user_id} }">
                            <button class="navbar-caret-menu-button-big" type="submit">
                                <div style="line-height: 1.3em; padding-top: 0.25em">
                                    <span class="navbar-caret-menu-button-text-bold" th:text="${profile.name}"></span>
                                    <br>
                                    <span class="navbar-caret-menu-button-text-light" th:text="'@' + ${profile.userName}"></span>
                                </div>
                            </button>
                        </form>
                        <hr class="navbar-menu-separator">
                        <form th:action="@{'/profileaccount'}">
                            <button class="navbar-caret-menu-button" type="submit">
                                <span class="navbar-caret-menu-button-text">Edit profile</span>
                            </button>
                        </form>
                        <form>
                            <button class="navbar-caret-menu-button">
                                <span class="navbar-caret-menu-button-text">Privacy Policy</span>
                            </button>
                        </form>
                        <form>
                            <button class="navbar-caret-menu-button">
                                <span class="navbar-caret-menu-button-text">Help Center</span>
                            </button>
                        </form>
                        <hr class="navbar-menu-separator">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="navbar-caret-menu-button">
                                <span class="navbar-caret-menu-button-text" th:text=" 'Log out @' + ${profile.userName}"></span>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- Navbar Tweet Button -->
                <button class="navbar-tweet-button">
                    <span class="navbar-tweet-buttont-text">Tweet</span>
                </button>
            </div>

        </div>
    </nav>
</div>