<div xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-shadow navbar-dark fixed-top navbarGradient">
        <div class="container">

            <!-- Home Button -->
            <div class="navbar-button-container">
                <a th:href="@{'/home'}" class="home-button">
                    <div>
                        <img class="navbar-home-icon" th:src="@{'/assets/home-filled-blue-3.svg'}">
                        <span class="navbar-home-text">Home</span>
                    </div>
                </a>
            </div>

            <!-- Twitter Bird -->
            <div class="navbar-brand">
                <a th:href="@{/}"><i class="fab fa-twitter bird"></i></a>
            </div>

            <!-- Navbar Right Box -->
            <div class="navbar-right-box">

                <!-- Navbar Search Field -->
                <div class="navbar-search-box-container">
                    <input class="navbar-search-box" type="text" placeholder="Search Twitter">
                    <img class="search-glass" th:src="@{'/assets/navbar-search-glass.svg'}" alt="">
                </div>

                <!-- Navbar Profile Image -->
                <div class="navbar-tweet-options-menu">
                    <button onclick="popUp(event)" id="navbar-pic-button" class="navbar-pic-button">
                        <img class="navbar-pic" th:src="@{'/assets/profile-new.png'}">
                    </button>
                    <div class="navbar-caret-popup">
                        <div class="navbar-arrows">
                            <div class="navbar-arrow-up-shadow"></div><div class="navbar-arrow-up"></div>
                        </div>
                        <form>
                            <button class="navbar-caret-menu-button">
                                <span class="navbar-caret-menu-button-text">Profile settings</span>
                            </button>
                        </form>
                        <hr class="navbar-menu-separator">
                        <form>
                            <button class="navbar-caret-menu-button">
                                <span class="navbar-caret-menu-button-text">Log out @ademsalih</span>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- Navbar Tweet Button -->
                <button class="navbar-tweet-button">
                    <span class="navbar-tweet-buttont-text">Tweet</span>
                </button>
            </div>

        </div>
    </nav>
</div>