<div xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-shadow navbar-dark fixed-top navbarGradient">
        <div class="container">

            <!-- Home Button -->
            <div class="navbar-button-container">
            </div>

            <!-- Twitter Bird -->
            <div class="navbar-brand">
                <a th:href="@{/}"><i class="fab fa-twitter bird"></i></a>
            </div>

            <!-- Navbar Right Box -->
            <div class="navbar-right-box">

            </div>

        </div>
    </nav>
</div>