html {
    height: 100%;
}

body {
    margin-top: 2.9em;
    background: #E6ECF0;
    height: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1204px;

    }
}

button:focus {
    outline: none !important;
}


/************ NAVBAR ************/

.navbar {
    padding: 0;
    display: block;
    height: 46px;
}

.navbar-shadow {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(17, 17, 17, 0.32);
    -moz-box-shadow: 0px 1px 1px 0px rgba(17, 17, 17, 0.32);
    box-shadow: 0px 1px 1px 0px rgba(17, 17, 17, 0.32);
}

.navbarGradient {
    background: #ffffff;
    opacity: 1.0;
}

.container {
    height: 100%;
    max-width: 1220px;
}

/* Home Button */
.navbar-button-container {
    height: 100%;
    z-index: 1;
}

.home-button {
    border-bottom: 0.15em solid #1DA1F2;
    text-decoration: none;
    height: 100%;
    width: 5.7em;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-button:hover {
    text-decoration: none;
}

.navbar-home-icon{
    height: 1.15em;
}

.navbar-home-text {
    font-weight: 700;
    font-size: 0.82em;
    color: #1DA1F2 !important;
}

/* Navbar Bird */
.navbar-brand {
    padding: 0 15px;
    height: 46px;
    line-height: 46px;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.bird {
    color: #1DA1F2;
    font-size: 1em;
}

/* Navbar Right Button Area */
.navbar-right-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: right;
    z-index: 1;
}

.navbar-search-box-container {
    display: inline-block;
    height: 2em;
}

.navbar-search-box {
    border: 0.09em solid #E6ECF0;
    height: 2.65em;
    width: 18.4em;
    border-radius: 3em;
    background-color: #F5F8FA;
    font-size: 0.75em;
    font-weight: 300;
    padding-left: 1.2em;
}

.navbar-search-box::placeholder {
    color: #617381;
}

.search-glass {
    width: 0.9em;
    height: 0.9em;
    margin-left: -2em;
}

/* Navbar Picture */
.navbar-tweet-options-menu {
    position: relative;
    display: inline-flex;
    margin-right: 0.18em;
    z-index: 1;
}

.navbar-pic-button {
    margin-left: 0.3em;
    margin-right: 0.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar-pic {
    border-radius: 3em;
    width: 2em;
    position: relative;
    float: right;
}

.navbar-caret-popup {
    margin-left: -9.35em;
    visibility: hidden;
    margin-top: 2.75em;
    width: 12.45em;
    background-color: #ffffff;
    border-radius: 0.25em;
    padding-top: 0.43em;
    padding-bottom: 0.64em;
    padding-right: 0;
    position: absolute;
    z-index: 1;

    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
}

.navbar-arrows {
    float: right;
    position: relative;
    margin-top: -1em;
    margin-right: 2em;
}

.navbar-arrow-up {
    width: 0;
    height: 0;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-bottom: 0.6em solid #ffffff;
    position: absolute;
}

.navbar-arrow-up-shadow {
    width: 0;
    height: 0;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-bottom: 0.6em solid rgb(220, 220, 220);
    position: absolute;
    margin-top: -0.05em;
}

.navbar-caret-menu-button {
    width: 100%;
    background: none;
    border: none;
    display: table;
    height: 1.86em;
    cursor: pointer;
}

.navbar-caret-menu-button-big {
    width: 100%;
    background: none;
    border: none;
    height: 2.95em;
    display: block;
    text-align: left;
    cursor: pointer;
}

.navbar-caret-menu-button:hover {
    background-color: #1DA1F2;
}

.navbar-caret-menu-button:hover span {
    color:white;
}

.navbar-caret-menu-button-text {
    font-size: 0.85em;
    color: #5f707f;
    padding-left: 1em;
    vertical-align: middle;
    display: table-cell;
    font-weight: 300;
}

.navbar-caret-menu-button-text-bold {
    font-size: 1.1em;
    color: #000000;
    padding-left: 0.55em;
    font-weight: 700;
}

.navbar-caret-menu-button-text-light {
    font-size: 0.85em;
    color: #657786;
    padding-left: 0.7em;
    font-weight: 300;
}

.navbar-menu-separator {
    margin-top: 0.38em;
    margin-bottom: 0.38em;
    width: 12.25em;
}

.navbar-tweet-button {
    border: 0;
    background-color: #4AB3F4;
    width: 4.6em;
    height: 2.15em;
    border-radius: 3em;
    cursor: pointer;
}

.navbar-tweet-buttont-text {
    color: white;
    font-weight: 700;
    font-size: 0.85em;
}

/************ NAVBAR SIGNUP ************/

.navbarGradient-signup {
    background-image: linear-gradient(to right, #48A0EB, #68CA98);
    opacity: 1.0;
}

.navbar-shadow-line {
    border-bottom: 0.07em solid rgba(0, 0, 0, .2);
}

.bird-signup {
    color: white;
    font-size: 1em;
}




/************ SIGNUP PAGE ************/

.form-container {
    margin-top: 2.2em;
    padding-left: 2.45em;
    padding-right: 2.45em;
}

.join-twitter-header {
    font-weight: 600;
    font-size: 1.75em;
}

.sign-up-button {
    margin-top: 1.55em;
    background-color: #48A0EB;
    width: 100%;
    height: 3.15em;
    border: 0;
    border-radius: 2em;
    cursor: pointer;
}

.sign-up-button-text {
    font-weight: 600;
    font-size: 1.1em;
    color: white;
}

.disclaimer-small-text {
    font-size: 0.75em;
    color: #4F6476;
    font-weight: 300;
}

.custom-form {
    margin-top: 1.2em;
}

.form-spacing {
    margin-top: 1.5em;
}

.custom-form-input {
    width: 100%;
    height: 2.7em;
    border-radius: 0.2em;
    border: 0.08em #E3E8ED solid;
    font-weight: 700;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-size: 1.1em;
}

.custom-form-input::placeholder {
    color: #b9bec1;
    opacity: 1;
}

.disclaimer-text-container {
    line-height: 0.9em;
    margin-top: 1em;
}

.linkify {
    color: #48A0EB !important;
}



/************ PROFILE PAGE TOP ************/
.profile-banner {
    width: 100%;
    height: 22.4em;
    overflow: hidden;

    position: relative;
}

.profile-banner-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.follow-stat-banner {
    width: 100%;
    height: 3.9em;
    background-color: white;
    margin-bottom: 0.6em;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(176,176,176,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(176,176,176,1);
    box-shadow: 0px 1px 1px 0px rgba(176,176,176,1);
}

.profile-pic-big {
    width: 13.1em;
    height: 13.1em;
    border-radius: 50%;
    position: absolute;
    border: 0.33em solid white;
    margin-top: -12.1em;
    z-index: 4;
}

.profile-box-down {
    height: 19em;
    width: 18em;
    position: absolute;
    margin-top: 1.7em;
    padding-left: 0.4em;
    line-height: 1.4em;
}

.profile-big-name {
    font-size: 1.3em;
    font-weight: 700;
}

.profile-handle-big {
    color: #657786;
    font-size: 0.9em;
    font-weight: 100;
}

.bio-container {
    line-height: 1.25em;
    margin-top: 1em;
    padding-right: 1em;
    margin-bottom: 0.6em;
}

.profile-bio {
    font-size: 0.9em;
    color: #191919;
    font-weight: 400;
}


.handle-at-username {
    display: inline-flex;
}

.icon {
    width: 1em;
    margin-right: 0.1em;
}

.table-row {
    height: 1.8em
}

.more-info-text {
    color: #657786;
    font-size: 0.9em;
    font-weight: 300;
}

.more-info-text-link {
    color: #0070C9;
    font-size: 0.9em;
    font-weight: 300;
}

.follow-stat-banner-container {
    width: 20em;
    margin-left: 30em;
}

.tweets-stat {
    width: 5.4em;
    display: table;
    height: 100%;
    line-height: 1.24em;
}

.use-full-height {
    height: 100%;
}

.stat-header-text {
    font-size: 0.75em;
    color: #667580;
    font-weight: 600;
}

.stat-number-text {
    font-size: 1.1em;
    color: #667580;
    font-weight: 600;
}

.stat-button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: box-shadow 0.18s linear;
}

.stat-button-selected {
    box-shadow: inset 0 -0.15em 0 0 #0070C9;
    cursor: auto;
}

.stat-number-text-selected {
    color: #0070C9;
}



.stat-button:hover {
    box-shadow: inset 0 -0.15em 0 0 #0070C9;
}

.stat-button:hover .stat-number-text {
    color: #0070C9;
}

.follow-content {
    width: 55.5em;
    height: 10em;
}

.follow-content-box {
    width: 3em;
    height: 4em;
    background-color: orange;
}

/*-----------------------------*/

.edit-profile-button {
    border-radius: 5em;
    background-color: transparent;
    border: 0.08em solid #66757f;
    height: 2.582em;
    width: 7.83em;
    color: #66757f;
    font-size: 0.84em;
    font-weight: 700;
    margin-right: 1.2em;
}

.follow-button {
    border-radius: 5em;
    background-color: transparent;
    border: 0.08em solid #0070C9;
    height: 2.582em;
    width: 7.83em;
    color: #0070C9;
    font-size: 0.84em;
    font-weight: 700;
    margin-right: 1.2em;
}

.follow-button:hover {
    background-color: #E5F0F9;
}

.follow-button-checked {
    background-color: #328CD3;
    color: white;
}

.follow-button-checked:hover {
    background-color: #AC002A;
    color: white;
    border: 0.08em solid #AC002A;
}

.hamburger-menu-icon {
    width: 0.28em;
    height: 1em;
}

.follow-button-area {
    display: table-cell;
    vertical-align: middle;
    padding-right: 0.7em;
}

.follow-button-area-container {
    display: table;
    padding-right: 0.4em;
}

.stat-banner-button-container {
    display: inline-block;
}

/*-----------------------------*/

.follow-box-pic {
    margin-top: 3.62em;
    margin-left: 0.75em;
    position: absolute;
    width: 4.78em;
    height: 4.78em;
    border-radius: 50%;
    border: 0.2em solid #ffffff;
    z-index: 1;
}

.follow-box-banner {
    width: 100%;
    height: 32.5%;
    overflow: hidden;
    position: relative;
}

.follow-box-banner-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.follow-box-content {
    background-color: white;
    width: 100%;
    height: 67.5%;
}

.name-box-2 {
    margin-left: 0.95em;
    padding-top: 3.23em;
    line-height: 1.15em;
    margin-bottom: 0.5em;
}

.profile-name-2 {
    font-size: 1.13em;
    font-weight: bold;
    color: black;
}

.handle-name-2 {
    color: #657786 !important;
    font-size: 0.84em;
    font-weight: 400;
}

.follow-box-bio-box {
    padding-left: 0.95em;
    padding-right: 1em;
    line-height: 1.13em;
    margin-top: 0.2em;
}

.follow-box-bio {
    font-size: 0.8em;
}

.follow-box-follow-btn-container {
    position: relative;
    float: right;
    display: table;
    margin-right: 1.58em;
    margin-top: 1em;
}

.follow-button-sm {
    border-radius: 5em;
    background-color: transparent;
    border: 0.1em solid #0070C9;
    height: 2.25em;
    width: 7.5em;
    color: #0070C9;
    font-size: 0.74em;
    font-weight: 700;
    margin-right: 1.6em;
}

.follow-button-sm:hover {
    background-color: #E5F0F9;
}

.follow-button-sm-checked {
    background-color: #328CD3;
    color: white;
}

.follow-button-sm-checked:hover {
    background-color: #AC002A;
    color: white;
    border: 0.08em solid #AC002A;
}

.follow-button-sm-checked:hover span {
    display: none;
}

.follow-button-sm-checked:hover:before {
    content: "Unfollow"
}

.follow-button-checked:hover:before {
    content: "Unfollow"
}

.follow-button-checked:hover span {
    display: none;
}

.fl-box-hamburger-menu-icon {
    height: 1.1em;
    width: 0.28em;
    margin-top: 0.2em;
}

.single-follow-box {
    padding-bottom: 0.8em;
    padding-left: 0.35em;
    padding-right: 0.35em;
}



/************ PROFILE BOX ************/

.profile-box {
    height: 13.4em;
    width: 18em;
    position: relative;
}

.profile-box-pic {
    margin-top: 4em;
    margin-left: 0.5em;
    position: absolute;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    border: 0.18em solid #ffffff;
}

.profile-box-top-box {
    background-color: #1DA1F2;
    width: 100%;
    height: 46%
}

.profile-box-bottom-box {
    background-color: white;
    width: 100%;
    height: 54%
}

.name-box {
    margin-left: 5.5em;
    padding-top: 0.7em;
    line-height: 1.15em;
    margin-bottom: 0.7em;
}

.profile-name {
    font-size: 1.05em;
    font-weight: bold;
    color: black !important;
}

.handle-name {
    color: #657786 !important;
    font-size: 0.84em;
}

.follow-stat-header {
    color: #657786;
    font-size: 0.7em;
}

.follow-stat-number {
    color: #1DA1F2;
    font-size: 1em;
    font-weight: bold;
}

.follow-stat-table {
    width: 88%;
    margin: 0 auto;
}



/************ POST TWEET BOX ************/

.post-tweet-box {
    width: 36.8em;
    height: 3.8em;
    position: relative;
    background-color: #E8F5FD;
    overflow: hidden;
    padding-top: 0.6em;
}

.newtweet-box-image-box {
    width: 11.5%;
    float: left;
    clear: both;
}

.newtweet-profile-pic {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-left: 1.8em;
    margin-right: auto;
    display: block;
    margin-top: 0.2em;
}

.tweetbox-content {
    width: 88.5%;
    float: right;
}

.new-tweet-input {
    border-radius: 0.5em;
    border: 0;
    width: 34em;
    height: 2.8em;
    font-size: 0.85em;
    font-weight: 300;
    padding-left: 0.5em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1DA1F2;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1DA1F2;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #1DA1F2;
}

.outer {
    width: 31.8em;
    border-radius: 0.5em;
    border: 0.08em solid #C6E7FB;
    background-color: white;
    display: inline-block;
    position: relative;
}

.upload-btn-wrapper {
    position: relative;
    float: right;
    margin: auto;
}

.upload-btn-wrapper input[type=file] {
    opacity: 0;
    overflow: hidden;
    width: 2.4em;
    height: 2.4em;
    position: absolute;
    left: 0;
    top: 0;
}

.upload-image-icon {
    width: 1em;
    padding-bottom: 0.2em;
}




/************ TWEET BOX ************/

.tweetbox {
    width: 36.8em;
    position: relative;
    background-color: white;
    display: table-caption;
    border-top: 0.09em solid #E6ECF0;
}

.tweetbox-image-box {
    width: 12%;
    float: left;
    clear: both;
}

.tweet-profile-pic {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0.7em;
}

.tweet-profile-pic-retweet {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0.3em;

}

.tweetbox-content {
    width: 88%;
    float: right;
}

.name-field {
    padding-top: 0.45em;
    padding-right: 1em;
    line-height: 1.2em;
    margin-bottom: 1em;
}

.name-field-retweet {
    padding-top: 0.1em;
    padding-right: 1em;
    line-height: 1.2em;
    margin-bottom: 1em;
}

.name {
    font-size: 0.85em;
    font-weight: bold;
    color: black !important;
}

.grey-text {
    font-size: 0.85em;
    color: #657786;
}

.tweet-message {
    font-size: 0.9em;
}

.tweet-pic {
    width: 31.7em;
    border-radius: 0.65em;
    margin-bottom: 0.6em;
    border: 0.08em solid #E6E6E6;
}

.interaction-field {
    margin-bottom: 0.4em;
}

.interaction-item {
    width: 5em;
}

.icon {
    width: 1em;
}

.interaction-text {
    font-size: 0.68em;
    font-weight: bold;
    color: #657786;
    margin-left: 0.7em;
}

.interaction-div {
    display: inline-block;
}

.no-text-decoration {
    text-decoration: none !important;
}

.retweet-icon {
    width: 1.1em;
}

.retweet-box {
    margin-left: 2.9em;
    margin-top: 0.1em;
}

.user-retweet-icon {
    width: 0.9em;
}

.retweeted-text {
    font-size: 0.75em;
    color: #657786;
    margin-left: 0.45em;
    font-weight: 300;
}


/************ TWEET BOX OPTIONS ************/

.tweet-options-menu {
    position: relative;
    float: right;
    display: inline-block;
    margin-right: 0.18em;
    margin-top: 0.6em;
}

.tweet-options-menu-retweet {
    position: relative;
    float: right;
    display: inline-block;
    margin-right: 0.18em;
    margin-top: 0.15em;
}

.caret-button {
    background-color: transparent;
    border: 0;
    width: 2.12em;
    height: 1.3em;
    cursor: pointer;
    padding: 0;
    margin-left: 0.34em;
    z-index: 0;
    display: table;
}

.caret-img {
    display: block;
    width: 0.72em;
    opacity: 1;
    margin: auto;
    padding: 0;
    z-index: 0;
}

.caret-popup {
    visibility: hidden;
    margin-top: 0.45em;
    width: 12.45em;
    background-color: #ffffff;
    border-radius: 0.25em;
    padding-top: 0.64em;
    padding-bottom: 0.64em;
    padding-right: 0;
    position: absolute;
    z-index: 1;

    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
}

.caret-menu-button {
    width: 100%;
    background: none;
    border: none;
    display: table;
    height: 1.86em;
}

.caret-menu-button:hover {
    background-color: #1DA1F2;
}

.caret-menu-button:hover span {
    color:white;
}

.caret-menu-button-text {
    font-size: 0.85em;
    color: #5f707f;
    padding-left: 1em;
    vertical-align: middle;
    display: table-cell;
    font-weight: 300;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-bottom: 0.6em solid #ffffff;
    position: absolute;
}

.arrow-up-shadow {
    width: 0;
    height: 0;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-bottom: 0.6em solid rgb(220, 220, 220);
    position: absolute;
    margin-top: -0.05em;
}

.arrows {
    position: absolute;
    margin-top: -1.2em;
    margin-left: 0.8em;
}

.menu-separator {
    margin-top: 0.38em;
    margin-bottom: 0.38em;
    width: 12.25em;
}


/************ FOLLOW BOX ************/

.follow-box {
    height: 13em;
    width: 18em;
    position: absolute;
    background-color: #ffffff;
}

.validation-box {
    color: #E0245E;
    padding-top: 0.3em;
    padding-left: 0.1em;
}