

body {
    margin-top: 5em;
    background: #E6ECF0;
}

.userLabel {
    color: white;
}

table > thead > tr{
    border-top: hidden;
}


.tweetbox {
    background: white;
    height: 100%;
    min-height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 0.08em;
}

.pic {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.pic-lg {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

.tweet-image {
    height: 8em;
    width: 10em;
    border-radius: 5%;
}





.navbarGradient {
    background: #ffffff;
    opacity: 1.0;
}


.navbar {
    min-height: 40px;
}

.navbar-brand {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}