<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <title>Twitter | Admin</title>
    <head th:replace="fragment/header :: head"></head>

    <body>
        <div th:replace="fragment/admin-menu :: div"></div>
        <div class="container">
            <div class="col-sm-5 mx-auto">

                <br>
                <h4>Update Password</h4>
                <br>

                <div style="background-color: white;padding: 0.8em;">
                    <table>
                        <tbody>
                        <tr>
                            <td style="width: 8.2em;" class="form-info-text">
                                <span>Name:</span>
                            </td>
                            <td class="form-info-text">
                                <span th:text="${user.name}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 6em;" class="form-info-text">
                                <span>Username:</span>
                            </td>
                            <td class="form-info-text">
                                <span th:text=" '@' + ${user.userName}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <br>

                    <form th:action="@{'/passwordsave/' + ${user.user_id} }" method="post" th:object="${passwordEditUser}">

                        <!--<input class="custom-settings-input" type="password" th:field="*{password}" name="password">
                        <div th:if="${#fields.hasErrors('password')}" class="edit-validation" th:errors="*{password}"></div>

                        <button class="adminbutton blue-button" type="submit">Save</button>-->


                        <table>
                            <tbody>
                            <tr>
                                <td class="form-info-text" align="right">New Password</td>
                                <td class="second-column">
                                    <input class="custom-settings-input" type="password" th:field="*{password}" name="password">
                                </td>
                            </tr>
                            <tr th:if="${#fields.hasErrors('password')}">
                                <td></td>
                                <td class="second-column">
                                    <div class="edit-validation" th:errors="*{password}"></div>
                                </td>
                            </tr>
                            <tr class="table-row-spacing"></tr>

                            <tr>
                                <td></td>
                                <td class="second-column">
                                    <button class="adminbutton blue-button" type="submit">Save</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </form>
                </div>



            </div>
        </div>
    </body>
</html>