<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <title>Twitter</title>
    <head th:replace="fragment/header :: head"></head>

    <body>
        <div th:replace="fragment/menu :: div"></div>
        <div class="container" style="margin-top: 3.5em">

            <div class="row justify-content-center">

                <!---------- PROFILE BOX ---------->
                <div class="col-3">
                    <div class="profile-box">
                        <img th:src="@{'/images/profile/' + ${profile.profileImageName} }" class="profile-box-pic">
                        <div class="profile-box-top-box">
                            <img class="follow-box-banner-img" th:src="@{'/images/banner/' + ${profile.bannerImageName} }" alt="">
                        </div>

                        <div class="profile-box-bottom-box">
                            <div class="name-box">
                                <a th:href="@{'/' + ${profile.userName} }">
                                    <span class="profile-name" th:text="${profile.name}"></span><br>
                                </a>

                                <div class="handle-at-username">
                                    <span class="handle-name">@</span>
                                    <a th:href="@{'/' + ${profile.userName} }">
                                        <span class="handle-name" th:text="${profile.userName}"></span>
                                    </a>
                                </div>

                            </div>
                            <table class="follow-stat-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <a th:href="@{'/' + ${profile.userName} }" class="follow-stat-header">
                                                Tweets
                                            </a>
                                        </th>


                                        <th>
                                            <a th:href="@{'/' + ${profile.userName} + '/following' }" class="follow-stat-header">
                                                Following
                                            </a>
                                        </th>

                                        <th>
                                            <a th:href="@{'/' + ${profile.userName} + '/followers' }" class="follow-stat-header">
                                                Followers
                                            </a>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a th:href="@{'/' + ${profile.userName} }" th:text="${totalTweets}" class="follow-stat-number">
                                            </a>
                                        </td>


                                        <td>
                                            <a th:href="@{'/' + ${profile.userName} + '/following' }" th:text="${followingCount}" class="follow-stat-number">
                                            </a>
                                        </td>


                                        <td>
                                            <a th:href="@{'/' + ${profile.userName} + '/followers' }" th:text="${followerCount}" class="follow-stat-number">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!------------ FEED ------------->
                <div class="col-6" style="padding-left: 0.64em">

                    <!--------- POST NEW TWEET --------->
                    <div class="post-tweet-box">
                        <div class="newtweet-box-image-box">
                            <img class="newtweet-profile-pic" th:src="@{'/images/profile/' + ${profile.profileImageName} }">
                        </div>
                        <div class="outer">
                            <form th:action="@{/tweet}" method="post" modelAttribute="tweet" enctype="multipart/form-data">
                                <input type="hidden" th:value="${tweet.id}" name="id">
                                <input id="tweetBox" maxlength="140" th:value="${tweet.message}" class="new-tweet-input" type="text" placeholder="What's happening?" name="message">
                                <div class="upload-btn-wrapper">
                                    <button type="submit" class="btn" style="cursor: pointer;">
                                        <img class="upload-image-icon" th:src="@{'/assets/upload-icon.png'}">
                                    </button>
                                    <input accept="image/gif,image/jpeg,image/jpg,image/png" type="file" name="file" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--------- TWEETS --------->
                    <div th:replace="fragment/feed-tweets :: div"></div>

                </div>

                <!--------- WHO TO FOLLOW BOX --------->
                <div class="col-3" style="padding-left: 0.06em">
                    <div th:replace="fragment/who-to-follow-box :: div"></div>
                </div>

            </div>

        </div>
    </body>

</html>