<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <title>Home</title>
    <head th:replace="fragment/header :: head"></head>

    <body>
        <div th:replace="fragment/menu :: div"></div>
        <div class="container">

            <div class="col-sm-10 mx-auto">
                <br>
                <h3>My tickets</h3>

                <div th:if="${tickets.empty}" class="text-center">
                    <br>
                    <h5 style="opacity: 0.5">You don't have any tickets.</h5>
                </div>

                <br>

                <table th:if="${!tickets.empty}" class="table">
                    <thead>
                        <tr>

                            <th class="align-middle" scope="col">Film</th>
                            <th class="align-middle" scope="col">Cinema</th>
                            <th class="align-middle" scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket : ${tickets}">
                            <td class="align-middle" th:text="${ticket.film}"></td>
                            <td class="align-middle" th:text="${ticket.cinema}"></td>
                            <td class="align-middle" th:text="${ticket.date}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>