<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <title>Twitter</title>
    <head th:replace="fragment/header :: head"></head>

    <body>
        <div th:replace="fragment/menu :: div"></div>

        <div th:replace="fragment/profile-page-top :: div"></div>

        <div class="container">

            <div class="row justify-content-center">

                <div th:replace="fragment/profile-page-info :: div"></div>

                <!---- FOLLOW BOX CONTAINER ---->
                <div class="col-9" style="padding-left: 0; padding-right: 0">
                    <div class="container">
                        <div class="row" style=" padding-left: 0; padding-right: 0">

                            <!---- FOLLOW BOX ---->
                            <div th:each="u : ${followUsers}" class="single-follow-box" >
                                <div style="width: 18em;height: 17.48em; background-color: #657786">
                                    <img th:src="@{'/static/images/profile/' + ${u.profileImageName} }" class="follow-box-pic">
                                    <div class="follow-box-banner"></div>
                                    <div class="follow-box-content">
                                        <div class="text-right follow-box-follow-btn-container">

                                            <div th:if="${currentUser != u.user_id}" class="stat-banner-button-container">

                                                <form th:action="@{'/follow/' + ${u.user_id} }" method="post" modelAttribute="follow">
                                                    <input type="hidden" th:value="${follow.id}" name="id">
                                                    <button th:if="${!u.followable}" class="follow-button-sm"><span>Follow</span></button>
                                                </form>

                                                <form th:action="@{'/unfollow/' + ${u.user_id} }" method="get">
                                                    <button th:if="${u.followable}" class="follow-button-sm follow-button-sm-checked"><span>Following</span></button>
                                                </form>
                                            </div>

                                            <img class="fl-box-hamburger-menu-icon" th:src="@{'/assets/hamburger-dots-icon.svg'}">
                                        </div>
                                        <div class="name-box-2">
                                            <a th:href="@{'/' + ${u.user_id} }">
                                                <span th:text=" ${u.firstName} + ' ' + ${u.lastName}" class="profile-name-2"></span><br>
                                            </a>


                                            <div class="handle-at-username">
                                                <span class="handle-name">@</span>
                                                <a th:href="@{'/' + ${u.user_id} }">
                                                    <span th:text="${u.userName}" class="handle-name-2"></span>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="follow-box-bio-box">
                                            <span class="follow-box-bio">Worldwide. Always On. Listen live for free on @AppleMusic or on demand with a subscription.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </body>

</html>