<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <title>Twitter</title>
    <head th:replace="fragment/header :: head"></head>

    <body>
        <div th:replace="fragment/menu :: div"></div>

        <div th:replace="fragment/profile-page-top :: div"></div>

        <div class="container">

            <div class="row justify-content-center">

                <div th:replace="fragment/profile-page-info :: div"></div>

                <div class="col-6" style="padding-left: 0.3em">

                    <div th:if="${feedTweets.empty}">
                        <p>No tweets yet...</p>
                    </div>

                    <!--------- TWEETS --------->
                    <div th:replace="fragment/feed-tweets :: div"></div>

                </div>

                <div class="col-3" style="padding-left: 0.3em">
                    <!--------- FOLLOW BOX --------->
                    <div class="follow-box"></div>
                </div>

            </div>

        </div>

    </body>
</html>