<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <title>Login</title>
    <head th:replace="fragment/header :: head"></head>

    <body style="background-color: white">

        <div th:replace="fragment/signup-menu :: div"></div>

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-5 form-container">
                    <span class="join-twitter-header">Join Twitter today.</span>

                    <form class="custom-form" th:action="@{/register}" method="post" th:object="${signUpUser}">

                        <input th:field="*{name}" name="name" class="custom-form-input" type="text" placeholder="Full name">
                        <div class="validation-box" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

                        <input th:field="*{email}" name="email" class="custom-form-input form-spacing" type="text" placeholder="Email">
                        <div class="validation-box" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

                        <input th:field="*{userName}" name="userName" class="custom-form-input form-spacing" type="text" placeholder="Username">
                        <div class="validation-box" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</div>

                        <input type="password" th:field="*{password}" name="password" class="custom-form-input form-spacing" placeholder="Password">
                        <div class="validation-box" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>

                        <button class="sign-up-button" type="submit">
                            <span class="sign-up-button-text">Sign up</span>
                        </button>
                    </form>

                    <div class="disclaimer-text-container">
                        <span class="disclaimer-small-text">
                            By signing up, you agree to the <a href="#" class="linkify">Terms of Service</a> and <a href="#" class="linkify">Privacy Policy</a>,
                            including <a href="#" class="linkify">Cookie Use</a>. Others will be able to find you by searching for
                            your email address or phone number when provided.
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>