<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <title>Home</title>
    <head th:replace="fragment/header :: head"></head>

    <body>
        <div th:replace="fragment/menu :: div"></div>
        <div class="container">

            <div class="col-sm-5 mx-auto">

                <br>
                <h3>Add new ticket</h3>

                <form th:action="@{/saveticket}" method="post" modelAttribute="ticket">

                    <input type="hidden" th:value="${ticket.ticket_id}" name="ticket_id">

                    <div class="form-group">
                        <input type="text" class="form-control" th:value="${ticket.date}" placeholder="Date" name="date">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" th:value="${ticket.film}" placeholder="Film" name="film">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" th:value="${ticket.cinema}" placeholder="Cinema" name="cinema">
                    </div>

                    <button class="btn btn-success" style="float: right;">Add ticket</button>
                </form>

                <a class="btn btn-danger" th:href="@{/home}">Cancel</a>
            </div>
        </div>
    </body>
</html>